@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --background: 49 63% 98%;
    --foreground: 49 59% 4%;
    --muted: 49 12% 86%;
    --muted-foreground: 49 2% 40%;
    --popover: 49 63% 98%;
    --popover-foreground: 49 59% 4%;
    --card: 49 63% 97%;
    --card-foreground: 49 59% 3%;
    --border: 49 8% 92%;
    --input: 49 8% 92%;
    --primary: 49 99% 36%;
    --primary-foreground: 0 0% 0%;
    --secondary: 49 11% 84%;
    --secondary-foreground: 49 11% 24%;
    --accent: 49 11% 84%;
    --accent-foreground: 49 11% 24%;
    --destructive: 11 80% 36%;
    --destructive-foreground: 11 80% 96%;
    --ring: 49 99% 36%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 49 58% 2%;
    --foreground: 49 40% 100%;
    --muted: 49 12% 14%;
    --muted-foreground: 49 2% 60%;
    --popover: 49 58% 2%;
    --popover-foreground: 49 40% 100%;
    --card: 49 58% 3%;
    --card-foreground: 0 0% 100%;
    --border: 49 8% 11%;
    --input: 49 8% 11%;
    --primary: 49 99% 36%;
    --primary-foreground: 0 0% 0%;
    --secondary: 49 7% 10%;
    --secondary-foreground: 49 7% 70%;
    --accent: 49 7% 10%;
    --accent-foreground: 49 7% 70%;
    --destructive: 11 80% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 49 99% 36%;
  }
} */

@layer base {
  :root {
    --background: 220 13% 18%;
    --foreground: 219 14% 71%;
    --muted: 220 12% 22%;
    --muted-foreground: 220 12% 72%;
    --popover: 220 13% 15%;
    --popover-foreground: 219 14% 81%;
    --card: 220 13% 16%;
    --card-foreground: 219 14% 76%;
    --border: 220 3% 23%;
    --input: 220 3% 26%;
    --primary: 220 13% 86%;
    --primary-foreground: 220 13% 26%;
    --secondary: 220 3% 25%;
    --secondary-foreground: 220 3% 85%;
    --accent: 220 13% 33%;
    --accent-foreground: 220 13% 93%;
    --destructive: 3 89% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 13% 86%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 13% 18%;
    --foreground: 219 14% 71%;
    --muted: 220 12% 22%;
    --muted-foreground: 220 12% 72%;
    --popover: 220 13% 15%;
    --popover-foreground: 219 14% 81%;
    --card: 220 13% 16%;
    --card-foreground: 219 14% 76%;
    --border: 220 3% 23%;
    --input: 220 3% 26%;
    --primary: 220 13% 86%;
    --primary-foreground: 220 13% 26%;
    --secondary: 220 3% 25%;
    --secondary-foreground: 220 3% 85%;
    --accent: 220 13% 33%;
    --accent-foreground: 220 13% 93%;
    --destructive: 3 89% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 13% 86%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }
  h2 {
    @apply scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }
  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }
  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }
  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }
  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }
  code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }

  /* others */
  .lead {
    @apply text-xl text-muted-foreground;
  }
  .large {
    @apply text-lg font-semibold;
  }
  .small {
    @apply text-sm font-medium leading-none;
  }
  .muted {
    @apply text-sm text-muted-foreground;
  }
}
